name: "inputdir",    type: String,  defaultValue: "/home/automaton/graph-examples/food/DSE6.0/data/",    description: "The input directory to load data from"
name: "label",       type: String,  defaultValue: "",        description: "The label of the vertex to be populated with CSV data. If left blank (or default) the name of the input file is used as the vertex label name."
name: "key",         type: String,  defaultValue: "",        description: "The name of the column which contains the unique identifiers for the vertex records."
name: "compress",    type: String,  defaultValue: "none",        description: "The compression of the CSV file (none, gzip, xzip)."
name: "delimiter",   type: String,  defaultValue: "|",           description: "The delimiter of the CSV file"
