name: "filename",    type: String,  defaultValue: "test.csv"    description: "The CSV file to load the vertex data from"
name: "label",       type: String,  defaultValue: "chef",       description: "The label of the vertex to be populated with CSV data. If left blank (or default) the name of the input file is used as the vertex label name."
name: "key",         type: String,  defaultValue: "name",       description: "The name of the column which contains the unique identifiers for the vertex records."
name: "compress",    type: String,  defaultValue: "none",       description: "The compression of the CSV file (none, gzip, xzip)."
